:root {
  --challenge-white: #ffffff;
  --challenge-black: #000000;
  --challenge-grey: #d9d8d6;

  --color-background: var(--challenge-white);
  --challenge-primary: var(--challenge-black);

  --color-border: var(--challenge-black);

  --color-heading: var(--challenge-black);
  --color-text: var(--challenge-black);

  --grid-width: 87.5rem;

  --font: 'Noto Sans', sans-serif;

  --grid-gap: 2.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

%transition {
  transition: all 200ms linear 0s;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.5;
  font-family: var(--font);
  font-size: 0.75rem;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--color-text);
  @extend %transition;
  &:hover {
    color: var(--challenge-primary)
  }
}

h1, .h1, h2, .h2 {
  font: {
    size: 1.875rem;
    weight: 700;
  }
}
h3 {
  font: {
    size: 1rem;
    weight: 400;
  }
}
h4 {
  font: {
    weight: 700;
  }
}