/* noto-sans-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url('@/assets/fonts/noto/noto-sans-v36-latin-regular.woff2') format('woff2');
  }
  /* noto-sans-700 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: url('@/assets/fonts/noto/noto-sans-v36-latin-700.woff2') format('woff2'); 
  }