.tab-wrapper {
  width: 100%;
  .tab-header {
    display: flex;
    align-items: center;
    margin: 0 calc((var(--grid-gap) / 4) * -1);
    .tab-title {
      padding-top: 0;
      padding: calc(var(--grid-gap) / 4);
      position: relative;
      text-transform: uppercase;
      font-weight: 700;
      cursor: pointer;
      &.active {
        &:after {
          content: '';
          position: absolute;
          top: 100%;
          left: calc(var(--grid-gap) / 4);
          width: calc(100% - (var(--grid-gap) / 2));
          height: 0.3125rem;
          background: var(--challenge-primary);
        }
      }
    }
  }
  .tab-content-wrapper {
    .tab-content {
      width: 100%;
      display: none;
      padding: calc(var(--grid-gap) * 1.5) 0;
      &.active {
        display: block;
      }
      .grid {
        margin-top: 0;
      }
      .headline-icon-wrapper {
        display: flex;
        align-items: center;
        .headline-icon {
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 1rem;
          background: var(--challenge-black);
        }
        svg {
          width: 2rem;
          height: 2rem;
        }
      }
      .icon-list {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        .qr-icon {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          background: var(--challenge-white);
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            width: 1rem;
            height: 1rem;
          }
        }
        ul {
          margin: 0 0 0 1rem;
        }
      }
      .care {
        border-top: 0.0625rem solid rgba(0, 0, 0, 0.1);
        margin-top: var(--grid-gap);
        padding-top: var(--grid-gap);
        ul {
          columns: 2;
          li {
            display: flex;
            align-items: center;
            svg {
              width: 1.5rem;
              height: 1.5rem;
              margin-right: var(--grid-gap);
            }
          }
        }
      }
      .text {
        p {
          padding: var(--grid-gap) 0;
          border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.1);
          margin-bottom: var(--grid-gap);
          &:last-child {
            border: none;
          }
        }
      }
      ul {
        margin: 1rem 0 0;
        padding: 0;
        list-style: none;
        li {
          .list-title {
            margin-bottom: 0.3125rem;
          }
        }
      }
    }
  }
}
